.sectionInform {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.sectionInform__container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.container__leftBarInform {
    display: flex;
    gap: 47px;
}

.container__rightBarApps {
    display: flex;
}

.leftBarInform__item {
    display: flex;
    flex-direction: column;
}

.rightBarApps__item {
    display: flex;
    flex-direction: column;
}

.item__titleText {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 20px;
}

.item__imgBoxLogo {
    display: flex;
    gap: 20px;
}

.imgBoxLogo__btnLogo {
    padding: 0;
    height: 28px;
    border: none;
    background: none;
    cursor: pointer;
}

.imgBoxLogo__btnLogo:hover {
    position: relative;
    top: -3px;
}

.imgBoxLogo__btnLogo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item__cookieWarningText {
    margin-top: auto;
    width: 230px;
    font-size: 12.80px;
    font-weight: 300;
}

.item__informMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.item__informMenu li {
    display: flex;
}

.item__informMenu a {
    font-size: 16px;
}

.item__informMenu a:hover {
    text-decoration: underline;
}

.item__imgBoxApps {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
}
