.userTopList {
    width: 420px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ECE9EC;
    border-radius: 15px;
}

.userTopList__titleContainer {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.titleContainer__text {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
    color: #9D5C63;
}

.userTopList__container {
    display: flex;
    flex-direction: column;
}

.emptyList {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.emptyList__text {
    font-weight: 300;
    font-size: 17px;
}