.questionsList {
    width: 840px;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.emptyList {
    padding: 20px 30px;
    display: flex;
    justify-content: flex-end;
}

.emptyList__text {
    font-size: 17px;
    font-weight: 300;
}