.sectionCategoryAsk {
    padding: 17px 0 37px 0 ;
    display: flex;
    justify-content: center;
}

.sectionCategoryAsk__container {
    width: 1280px;
    display: flex;
    flex-direction: column;
}

.container__askQuestionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.askQuestionContainer__titleContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.titleContainer__decorTextBox {
    z-index: 0;
}

.decorTextBox__text {
    padding: 0 28px;
    background-color: #FEF5EF;
    font-size: 31.25px;
    font-weight: bold;
    z-index: 1;
}

.titleContainer__decorTextBox::before {
    content: "";
    margin-top: -1px;
    border-top: 1px solid #D9D3D8;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
}

.askQuestionContainer__searchContainer {
    margin-top: 20px;
}

.searchContainer__searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchForm__container {
    display: flex;
}

.container__inputQuestion {
    padding: 1px 0 1px 40px;
    width: 870px;
    height: 60px;
    font-size: 20px;
    color: #584B53;
    background: #FFFFFF;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #584B53;
    border-radius: 100px 0 0 100px;
}

.container_btnSearch {
    width: 90px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9D5C63;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #584B53;
    border-radius: 0 100px 100px 0;
}

.container_btnSearch:hover {
    background: #8D5359;
}
