.sectionAnswers {
    margin-top: 37px;
    padding-bottom: 74px;
    display: flex;
    justify-content: center;
}

.sectionAnswers__container {
    width: 1080px;
    display: flex;
    flex-direction: column;
}

.container__questionContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    border: 2px solid #ECE9EC;
    border-radius: 15px;
    background: #FFFFFF;
    gap: 20px 0;
}

.questionContainer__titleContainer {
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.titleContainer__avatarBox {
    width: 50px;
    height: 50px;
}

.titleContainer__avatarBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.titleContainer__userName {
    font-size: 20px;
    font-weight: bold;
    color: #9D5C63;
}

.titleContainer__userName:hover {
    text-decoration: underline;
}

.titleContainer__categoryName {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #D9D3D8;
}

.titleContainer__dateAdd {
    font-size: 20px;
    font-weight: bold;
    color: #9D5C63;
}

.titleContainer__btnReport {
    margin-left: auto;
    padding: 0;
    height: 30px;
    border: none;
    background: none;
}

.titleContainer__btnReport img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.questionContainer__textContainer {
    font-weight: bold;
}

.textContainer__text {
    font-size: 20px;
    color: #584B53;
}

.questionContainer__btnAnswer {
    margin-left: auto;
    padding: 7px 28px 5px;
    background: transparent;
    border: 2px solid #9D5C63;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: #9D5C63;
}

.questionContainer__btnAnswer:hover {
    background: #9D5C63;
    color: #FFFFFF;
}

.container__answersTitleContainer {
    margin: 74px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.answersTitleContainer__decorTextBox {
    z-index: 0;
}

.decorTextBox__text {
    padding: 0 28px;
    background-color: #FEF5EF;
    color: #9D5C63;
    text-transform: uppercase;
    font-size: 31.25px;
    font-weight: bold;
    z-index: 1;
}

.answersTitleContainer__decorTextBox::before {
    content: "";
    margin-top: -1px;
    border-top: 2px solid #9D5C63;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
}