.userPlaceItem {
    padding: 15px 20px 15px 10px;
    display: flex;
    justify-content: space-between;
}

.userPlaceItem:nth-child(1)  {
    background: #FEF2D7;
}

.userPlaceItem:nth-child(2) {
    background: #EBEBEB;
}

.userPlaceItem:nth-child(3)  {
    background: #F7EBDE;
}

.userPlaceItem__userInformContainer {
    display: flex;
    align-items: center;
}

.userInformContainer__placeContainer {
    width: 65px;
    display: flex;
    justify-content: center;
}

.userInformContainer__userInfoContainer {
    margin-left: 15px;
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.userInfoContainer__avatarBox {
    width: 50px;
    display: flex;
 }

.userInfoContainer__nameBox {
    width: 200px;
    display: flex;
    overflow-x: hidden;
}

.nameBox__text {
    font-size: 20px;
    font-weight: bold;
}

.nameBox__text:hover {
    text-decoration: underline;
}

.userPlaceItem__userScoreContainer {
    display: flex;
    align-items: center;
}

.userScoreContainer__text {
    font-size: 20px;
    font-weight: bold;
}