.nav {
    padding: 37px 0 10px 0;
    background: #9D5C63;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.nav__container {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__leftBarContainer {
    display: flex;
}

.leftBarContainer__logoBox {

}

.container__rightBarContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rightBarContainer__menu {
    display: flex;
}

.logoBox__text {
    font-weight: bold;
    font-size: 22px;
}

.menu__list {
    width: 100%;
    display: flex;
    gap: 5px;
}

.list__item {
    padding: 7px 20px 5px 20px;
    border-radius: 100px;
    cursor: pointer;
    border: 2px solid transparent;
}

.list__item:hover {
    background: #8D5359;
}

.item__text {
    text-transform: uppercase;
    font-weight: 600;
}

.list__itemDecor {
    border: 2px solid #FFFFFF;
}
