#root  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FEF5EF;
}

main {
    min-height: calc(100vh - 198px);
    display: flex;
    color: #584B53;
}
