@import "./reset.css";

#root  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FEF5EF;
    color: #584B53;
}

.main {
    min-height: calc(100vh - 198px);
    display: flex;
}
