@import "reset.css";

#root  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

/* Light mode */

body {
    font-size: 14px;
    background-color: #FFFFFF;;
    color: #584B53;;
    font-family: 'Titillium Web', sans-serif;
}

/* Dark mode */

body.dark {
    background: #272727;
    color: #FFFFFF;
}
