.sectionExplain {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
}

.sectionDecorTriangle {
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    position: relative;
}

.sectionDecorTriangle img {
    position: absolute;
    top: -1px;
}

.contentContainer {
    padding: 37px 0 74px 0;
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.explainFrame {
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.explainFrame p {
    text-transform: uppercase;
    font-size: 39.06px;
    font-weight: 900;
}

.explainFrame span {
    font-weight: 300;
}

.showExplainFrame {
    margin-top: 74px;
}

.showExplainFrame a {
    font-size: 20px;
    color: #9D5C63;
}

.showExplainFrame a:hover {
    text-decoration: underline;
}